/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src:    url(../assets/fonts/Montserrat-Regular.ttf)    format('truetype'),
          url(../assets/fonts/Montserrat-Regular.woff2)  format('woff2');
}

@font-face {
  font-family: 'Varela Round';
  src:    url(../assets/fonts/VarelaRound-Regular.ttf)    format('truetype'),
}

/* Change selection color to that of Bitly */
::selection {
  background: #ee6123;
  color: white;
}

.section {
  background: url(../assets/background-image.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* navbar */
nav {
  padding: 20px 0px 20px 0px;
  margin-top: 0px;
}

.navbar-logo {
  margin-right: 3.5em !important;
  margin-left: 8em !important;
}

.navbar-logo img {
  height: 3em;
}

.nav-links span {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-left: 20px;
  font-weight: bold;
}

.shorten-page {
  text-align: center;
  color: white;
}

.shorten-page h1 {
  font-size: 2.75em;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 110px;
  font-weight: bold;
}

.shorten-page h2 {
  font-size: 1.25em;
  color: white;
  font-family: "Varela Round", sans-serif;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}

.shorten-page .url-container {
  margin-bottom: 100px;
  padding: 30px 0 30px 0;
}

.shorten-page .url-bar {
  text-align: center;
  padding: 0px;
}

.shorten-page .url-bar input {
  min-height: 4em;
  padding-left: 20px;
  font-family: "Varela Round", sans-serif;
  width: 82%;
  display: inline-block;
  border-color: white;
  box-shadow: none;
  margin-right: -2px !important;
  margin-left: 0px;
  border-radius: 4px 0px 0px 4px;
}

.shorten-page .url-bar input:focus {
  border: 1px solid #ee6123;
  background: #fcefe9;
  color: #ee6123;
}

.shorten-page .url-bar button {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1em;
  width: 18%;
  height: 4em;
  margin-left: -2px !important;
  margin-right: 0px;
  display: inline-block;
  border: none;
  background: #ee6123;
  border-radius: 0px 4px 4px 0px;
}

.bitlinks-container {
  margin-top: -130px;
}

.bitlinks-list {
  padding: 0px;
}

.bitlinks li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.bitlinks li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bitlinks li:last-child hr {
  display: none;
}

.bitlink {
  background: white;
  padding: 25px 24px 25px 24px;
  font-family: "Varela Round", sans-serif;
}

.bitlink-title a {
  color: #444444;
}
.bitlink-title a:hover {
  text-decoration: underline;
}

.long-url a {
  color: #9b9b9b;
  font-size: 0.8em;
}
.long-url a:hover {
  text-decoration: underline;
}

.bitlink-footer {
  margin-top: 20px;
}

.short-url {
  display: inline;
}

.short-url a {
  color: #ee6123;
  font-size: 0.8em;
}

.short-url-path {
  font-weight: bold;
}

.hit-count {
  display: inline;
  float: right;
}
.hit-count a {
  color: #9b9b9b;
  font-size: 0.8em;
}
.hit-count a:hover {
  text-decoration: underline;
}

.hit-count a .click-icon {
  height: 1.35em;
  margin-bottom: -2px;
  margin-left: 3px;
}

hr.divider {
  border-color: rgba(0, 0, 0, 0.1);
  margin-bottom: -25px;
  margin-top: 24px;
}

/* messages */
.message {
  display: none; 
  width: 100%;
  margin-left: 10px !important;
}


.message-body {
  font-family: "Varela Round", sans-serif;
}